@tailwind base;
@tailwind components;
@tailwind utilities;

/* ====================== own style for welcome setion=================== */
html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #98d77d;
  /* color: #9de57f; */
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: var(--border10-px);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--seafoam-co);
  border-radius: var(--border10-px);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--lime-co);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white-co: #fff;
  --seafoam-co: #dddcca;
  --sea2foam-co2: #808872;
  --lime-co: #32cd30;
  --green: #008000;
  --betterGreen: #52651f;
  --darkerGreen: #39543b;
  --froest-co: #0b1506;
  --cuib-bez: cubic-bezier(0.45, 0.05, 0.03, 0.32);
  --stable-transition: .3s;
  --font12-px: 12px;
  --font14-px: 14px;
  --font16-px: 16px;
  --font21-px: 21px;
  --font24-px: 24px;
  --font40-px: 40px;
  --border5-px: 5px;
  --border10-px: 10px;
  --border16-px: 16px;
}

h1,
h2,
h3,
h4,
h5.h6,
span {
  font-family: 'Merienda', cursive;
}

p {
  font-family: 'DM Sans', sans-serif;
}

body {
  background-color: #39543b;
}


/* Glass componanet */
.glass-backdrop {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.49);
  border-radius: var(--border16-px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.9px);
  -webkit-backdrop-filter: blur(18.9px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

.video-container {
  height: 100vh;
  padding-top: 115px;
  overflow: hidden;
  position: relative;
}

video {
  min-width: 100vw;
  opacity: 0;
  transition: 0.5s;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(0%);
  position: absolute;
}

@media (max-width: 1500px) {
  video {
    min-width: 160vh;
  }
}

.active-vid {
  opacity: 1;
}

.video-selction {
  flex: 1;
}

.main-header,
.links-header {
  /* background-color: #1a4314f1; */
  height: 115px;
  transition: var(--stable-transition) transform;
  transition-timing-function: var(--cuib-bez);
}

.vids-tabs {
  width: 100%;
  flex: 2;
}

.vids-tabs .explain {
  font-size: 3vw;
  max-width: 40%;
  word-wrap: break-word;
  text-shadow: 1px 1px 0px black;
}

.vids-tabs .rotate-letters {
  min-height: 80px;
  font-size: 4.5vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.29);
  transition: 1s;
  transition-timing-function: var(--cuib-bez);
}

.vids-tabs .rotate-letters:hover {
  border-radius: var(--border5-px);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.23);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17.7px);
  -webkit-backdrop-filter: blur(17.7px);

}

.vids-tabs .rotate-letters span {
  transition: transform 0.8s ease, color 1.5s;
  display: inline-block;
}

.vids-tabs .rotate-letters:hover span {
  color: var(--green);
  transform: rotateY(360deg);
}

.video-selction .experience {
  height: 115px;
}

.video-selction .experience div {
  flex: 1;
  border: 1px solid rgba(0, 128, 0, 0.138);
}

/* Media quary */
@media (max-width: 900px) {
  .video-container {
    min-height: 100vh;
    padding-top: 80px;
  }

  video {
    min-width: 100vh;
  }

  .vids-tabs {
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .vids-tabs .explain {
    font-size: 30px;
    max-width: 50%;
    margin-left: 0;
    text-align: center;
    flex: 1;
    display: grid;
    place-items: center;
  }

  .vid-id {
    background-color: var(--green);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .vid-id a {
    width: 100%;
  }

  .vid-id .rotate-letters {
    font-size: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .vid-id .rotate-letters:hover {
    background: none;
    box-shadow: none;
    backdrop-filter: blur(none);
    -webkit-backdrop-filter: blur(none);
    text-shadow: 0 1px 0 black;
  }

  .vids-tabs .rotate-letters:hover span {
    color: var(--lime-co);
  }

  .video-selction .experience div {
    width: 100%;
    padding: 30px 15px;
  }

  .video-selction .experience div {
    font-size: var(--font14-px);
    padding: 15px 0;
  }

  .video-selction .experience div span {
    font-size: var(--font24-px);
  }
}

@media (max-width: 750px) {
  .vid-id .rotate-letters {
    font-size: var(--font40-px);
  }

  .vids-tabs .explain {
    font-size: var(--font24-px);
  }

  .video-selction .experience div {
    font-size: var(--font12-px);
  }

  .video-selction .experience div span {
    font-size: var(--font21-px);
  }
}

.contact {
  align-items: center;
}

.contact a {
  position: relative;
  transition: color var(--stable-transition) ease-in;

}

.contact a:hover {
  color: var(--seafoam-co);
}

.contact .log-log::before {
  content: "";
  height: 60%;
  width: 1px;
  background-color: var(--white-co);
  right: -5px;
  top: 20%;
  position: absolute;
}

.burger {
  display: none;
  cursor: pointer;
  height: 25px;
}

.burger span {
  height: 2px;
  width: 20px;
  border-radius: var(--border10-px);
  background-color: var(--white-co);
  display: block;
  position: relative;
  top: 12px;
  mix-blend-mode: difference;
}

.burger span::before,
.burger span::after {
  content: "";
  height: 2px;
  width: 20px;
  border-radius: var(--border10-px);
  background-color: var(--white-co);
  position: absolute;
  mix-blend-mode: difference;
}

.burger span::before {
  top: 7.5px;
}

.burger span::after {
  bottom: 7.5px;
}

.links i {
  transition: var(--stable-transition);
  font-size: var(--font16-px);
}


.links {
  cursor: pointer;
}

.links .link li {
  transition: var(--stable-transition);
  transition-timing-function: var(--cuib-bez);
  font-size: var(--font16-px);
  padding: 5px;
  border-radius: var(--border5-px);
  color: var(--green);
  font-weight: bold;
}

.links .link li:hover {
  color: var(--lime-co);
}

@media (min-width: 1024px) {
  .static-links {
    position: relative;
    font-size: var(--font16-px);
  }

  .genetics-links::before {
    content: "";
    width: 120vw;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.131);
    top: 2px;
    left: -13%;
    position: absolute;
  }

  .links-header .genetics-links::before {
    background-color: rgba(0, 0, 0, 0.033);
  }

  .genetics-links .fa-xmark {
    display: none;
  }

  /* ====static-links added from js===== */
  .static-links {
    text-align: center;
  }

  .static-links:hover {
    color: var(--seafoam-co);
  }

  .static-links i {
    transition: var(--stable-transition);
    font-size: var(--font16-px);
  }

  .static-links .i-arow {
    display: none;
  }

  .static-links:hover .static-arow {
    transform: rotate(180deg);
  }

  .static-links .link {
    color: var(--white-co);
    min-width: 250px;
    text-align: center;
    padding: 10px;
    border-radius: var(--border10-px);
    background-color: var(--white-co);
    border: 1px solid #1a431446;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: var(--stable-transition) top, var(--stable-transition) opacity, .1s visibility;
    transition-timing-function: var(--cuib-bez);
    z-index: -10;
    visibility: hidden;
  }

  .static-links:hover .link {
    top: 97%;
    opacity: 1;
    visibility: visible;
  }

  .static-links .link div {
    overflow: hidden;
  }

}

.genetics-links span {
  font-family: 'DM Sans', sans-serif;

}

/* menue medie  1024*/
@media (max-width: 1023px) {
  .contact {
    align-items: end;
  }

  .burger {
    display: block;
  }

  .show-genetics-links .static-arow {
    display: none;
  }

  .genetics-links {
    background-color: #1a4314f1;
    border-radius: var(--border10-px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100vh;
    width: 50vw;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    transition: transform var(--stable-transition);
    color: var(--white-co);
    overflow-y: auto;
  }

  @media (max-width: 650px) {
    .genetics-links {
      width: 70vw;
    }
  }

  .show-genetics-links {
    transform: translateX(0%);
  }

  /* ====dynamic-links added from js===== */

  .dynamic-links .link-det {
    transition: var(--stable-transition);
  }

  .dynamic-links .link-det:hover {
    background: rgba(255, 255, 255, 0.42);
    border: 5px;
  }

  .genetics-links .fa-xmark {
    transition: var(--stable-transition);
    cursor: pointer;
  }

  .genetics-links .fa-xmark:hover {
    transform: rotate(-90deg);
    color: var(--froest-co);
    text-shadow: 0 1px 0 black;
    font-size: 35px;
  }

  .genetics-links .dynamic-links {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.155);
    overflow: hidden;
  }

  .genetics-links .dynamic-links .link {
    height: 0px;
    overflow: hidden;
    transition: var(--stable-transition);
  }

  .genetics-links .dynamic-links span {
    font-size: var(--font14-px);
  }

  .genetics-links .dynamic-links .link li {
    color: var(--white-co);
    transition: var(--stable-transition);
    font-size: var(--font12-px);
  }

  .genetics-links .dynamic-links .link li:hover {
    color: #32cd30;
  }
}

.all-sections section {
  display: grid;
  place-content: center;
  align-content: space-between;
  position: relative;
}

.section-div {
  height: 500px;
  align-items: center;
}

.section-div .description h2,
.section-div .description p span {
  text-shadow: none;
}

.section-div .description h2 {
  margin-bottom: 40px;
}

.section-div .description h2 i {
  display: none;
}

.ourMission {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
}

.ourMission p {
  letter-spacing: 1.5px;
}

.manger {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  align-items: center;
  justify-items: center;
}

@media (max-width: 900px) {

  .ourMission,
  .manger {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

}

@media (max-width: 1535px) {
  .section-div .description h2 {
    font-size: 66px;
  }
}

/* 
.section-div .image {
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
} */

/* ====JS observe==== */
.hidden-observe {
  opacity: 0;
  transition: 1.3s;
  transform: translateX(-30px);
}

.show-observe {
  opacity: 1;
  transform: translateX(0px);
}

@media (max-width: 1023px) {
  .section-div .description {
    width: 100%;
    background-color: var(--seafoam-co);
    height: 80%;
  }

  .section-div .description h2 {
    color: var(--betterGreen);
  }

  .section-div .description p {
    color: var(--froest-co);
  }

  .section-div .image {
    width: 100%;
  }
}
.ggDiv {
  border: 20px solid var(--sea2foam-co2);
}
@media (max-width: 600px) {
  .section-div {
    align-items: flex-start;
    overflow: hidden;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
  }

  .section-div .description {
    height: fit-content;
    border-radius: 0;
    border-bottom-left-radius: 80px;
    padding-bottom: 0;
  }

  .section-div .description h2 {
    margin-bottom: 0;
    font-size: var(--font40-px);
    text-align: center;
  }

  .section-div .description h2 i {
    display: inline-block;
    font-size: var(--font24-px);
    animation: bouncing 1.5s infinite;
    cursor: pointer;
  }

  .section-div .description:hover i {
    animation-play-state: paused;
  }

  @keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40%,
    60% {
      transform: translateY(-15px);
    }
  }

  .section-div .description p {
    flex: none;
    overflow: hidden;
    height: 0;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    transition: .5s height, .5s padding;
    transition-timing-function: var(--cuib-bez);
  }

  .section-div .description:hover p {
    padding-top: 10%;
    height: 450px;
  }
  .ggDiv {
    border: none;
  }
}

.join-section {
  height: 40vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.join-section::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgb(0 42 18 / 71%);
  position: absolute;
  transition: var(--stable-transition);
}

.join-section .join-content {
  position: relative;
  z-index: 1;
}

.join-section .join-content button,
.offer button {
  background-color: rgb(19, 170, 82);
  transition: var(--stable-transition);
  border: 1px solid rgb(19, 170, 82);
}

.join-section .join-content button:hover,
.offer button:hover {
  background-color: transparent;
  color: var(--white-co);
}

/* footer */
footer li:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  footer .fo-fl {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-title {
    font-size: var(--font40-px);
  }

  .footer-links {
    margin-top: 30px;
  }
}

/* ========================Contact-page====================== */
.contact-page {
  position: relative;
}

.contact-page::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000800bf;
  position: absolute;
}

.contact-page .contact-content {
  position: relative;
  z-index: 1;
  padding: 5vw;
}

.contact-content a {
  position: absolute;
  top: 50px;
  left: -100px;
  color: rgba(255, 255, 255, 0.500);
  font-size: var(--font24-px);
  cursor: pointer;
  display: block;
}

.contact-content i:hover {
  color: rgba(255, 255, 255, 0.800);
}

.contact-page form {
  /* From https://css.glass */
  color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 45%;
}

.contact-page form input {
  background: rgba(255, 255, 255, 0.08);
  border-radius: var(--border16-px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.45);
  padding: 3px 8px;
  outline: none;
}

.contact-page form input:focus {
  border: 1px solid rgba(255, 255, 255, 0.878);
}

.contact-page button {
  border: 1px solid;
  width: 120px;
  border-radius: var(--border16-px);
  padding: 3px 8px;
  transition: var(--stable-transition) background-color, var(--stable-transition) border;
}

.contact-page button:hover {
  background-color: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.103);
}

@media (max-width: 767px) {
  .contact-content {
    flex-direction: column;
    justify-content: center;
  }

  .contact-content form {
    margin-top: 50px;
    min-width: 100%;
  }
}

/* =======================shop-page========================= */
.shop-page * {
  font-family: 'DM Sans', sans-serif;
}

.totalCart {
  position: absolute;
  color: var(--green);
  top: -20px;
  left: 20px;
  font-weight: 900;
  font-size: var(--font24-px);
}

.cart-aside {
  min-width: 370px;
  height: 100vh;
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translateX(0);
  /* overflow-y: auto; */
  transition: transform 0.6s ease, opacity .6s ease-in;
  background-color: var(--white-co);
  opacity: 1;
  box-shadow: 0 0 1px 0 black;
  z-index: 200;
}

.shoppingCartSidebar {
  width: 100%;
  height: calc(100% - 160px);
  overflow: auto;
}

.shoppingCartSidebar::-webkit-scrollbar-thumb {
  background: var(--sea2foam-co2);
  border-radius: var(--border10-px);
}

.clshidden {
  transform: translateX(100%);
  opacity: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.cart-item .image {
  background-color: ghostwhite;
  width: 100px;
  height: 100px;
  border-radius: var(--border10-px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.5px;
}

.cart-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.about-cart-item {
  flex: 1;
  margin-left: 8px;
}

.cart-item-name {
  font-weight: 400;
}

.cart-item-price {
  font-weight: 300;
  font-size: var(--font14-px);
}

.cart-item-remove-btn {
  font-weight: 200;
  font-size: var(--font14-px);
}

.cart-item-remove-btn:hover {
  color: red;
}

.cart-item-increase-btn,
.cart-item-decrease-btn {
  transition: var(--stable-transition);
  color: var(--green);
}

.cart-item-increase-btn:hover,
.cart-item-decrease-btn:hover {
  color: var(--lime-co);
}

.cart-item-increase-btn:active {
  transform: translateY(-2px);
}

.cart-item-decrease-btn:active {
  transform: translateY(2px);
}

.cart-item-amount {
  text-align: center;
}

.slider-wrapper {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(228, 227, 208, 1) 100%);
  background-color: red;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slider-wrapper .big-leaf-bg {
  width: 400px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width:1500px) {
  .slider-wrapper .big-leaf-bg {
    display: none;
  }
}

@media (max-width:900px) {
  .slide-content {
    flex-direction: column;
  }

  .slide-content .description,
  .slide-content .image {
    padding: 10px 20px;
    text-align: center;
  }
}

.slide-content button {
  margin-top: 20px;
  background-color: rgb(19, 170, 82);
  transition: var(--stable-transition);
  border: 1px solid rgb(19, 170, 82);
}

.slide-content button:hover {
  background-color: var(--seafoam-co);
  color: var(--white-co);
}

.slides-container {
  /* height: 700px; */
  width: 100%;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: var(--white-co);
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  display: grid;
  place-self: center;
}

.slider-wrapper .slide-content {
  margin: 0 auto;
}

.slider-wrapper .slide-content .description {
  max-width: 500px;
}

.services {
  display: grid;
}

.services .products {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  align-content: start;
}

.category-btn {
  font-weight: 500;
  padding: 2px 5px;
  margin-right: 10px;
  letter-spacing: 2px;
  box-shadow: 0 0 1px 0 black;
}

.category-btn:hover {
  color: var(--white-co);
}

.services .card {
  box-shadow: 0 0 1px 0 rgb(164, 164, 164);
  background-color: var(--white-co);
  display: flex;
  flex-direction: column;
  position: relative;
}

.services .card .image {
  width: 225px;
  height: 225px;
  padding-top: 6px;
}

.services .card .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.services .card .product-name {
  display: block;
  width: 230px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.services .card::before,
.services .card::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #32cd30;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  transition: var(--stable-transition);
}

.services .card::before {
  top: 0;
}

.services .card::after {
  bottom: 0;
  z-index: 100;
}

.services .card:hover::before {
  width: 100%;
}

.services .card .caption {
  transform-origin: bottom center;
  transform: scaleY(0);
  transition: 0.3s;
  padding: 10px;
}

.fa-star {
  color: gold;
}

.services .card:hover .caption {
  transform: scaleY(1);
}

.services .caption button {
  border: 1px solid;
  padding: 10px;
  background-color: var(--lime-co);
  color: var(--white-co);
  font-weight: 500;
  width: 100%;
}

.services button:hover {
  background-color: #57d355;
}

.services .caption i {
  font-size: var(--font24-px);
  cursor: pointer;
  transition: .1s;
}

.services .caption .fa-heart:hover {
  color: red;
}

.featuredProducts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  justify-items: center;
  gap: 10px;
}

.featuredProducts .image {
  background: var(--white-co);
  position: relative;
  padding: 20px;
  border-radius: var(--border5-px);
  overflow: hidden;
  width: 250px;
  height: 300px;
  position: relative;
}
.featuredProducts .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.featuredProducts .image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: var(--stable-transition) opacity ease-out;
}

.featuredProducts .image:hover::before {
  background-color: #33cd3055;
}

.featuredProducts .image div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: var(--stable-transition) opacity ease-out;
}

.featuredProducts .image:hover div {
  opacity: 1;
}

.featuredProducts a {
  background: var(--lime-co);
  padding: 7px;
  color: var(--white-co);
  border-radius: var(--border5-px);
}

/* ====================links-page======================== */
.links-main h1 {
  font-size: 5vw;
}

.links-main article img {
  width: 60px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.links-main article .img-1 {
  left: 120px;
}

.links-main article .img-2 {
  right: 120px;
}

.links-main article p {
  position: relative;
}

.links-main article::before,
.links-main article::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 80%;
  background-color: var(--betterGreen);
  top: 50%;
  transform: translateY(-50%);
}

.links-main article::before {
  left: 80px;
}

.links-main article::after {
  right: 80px;
}

.get-data {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

@media (max-width: 1023px) {
  .get-data {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding-left: 20px;
    padding-right: 20px;
  }

  .links-main article::before,
  .links-main article::after,
  .links-main article img {
    display: none;
  }
}

@media (max-width: 639px) {
  .links-main {
    padding: 10px;
  }

  .links-main h1 {
    font-size: 40px;
  }

  .links-main article {
    padding: 20px;
  }
}

.get-data .card {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  transition: var(--stable-transition) box-shadow ease-out, transform var(--stable-transition) ease-in;
}

.get-data .card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.get-data .card:hover img {
  scale: 1.03;
  rotate: 1deg;
}

.get-data .card .image {
  height: 300px;
  overflow: hidden;
}

.get-data .card .image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: var(--stable-transition) scale ease-in, var(--stable-transition) rotate ease-out;
}

.get-data .card .description {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.get-data .card h2 {
  font-size: var(--font21-px);
  padding: 10px 0;
}

.get-data .card p {
  font-size: var(--font16-px);
  line-height: 1.6;
  letter-spacing: .5px;
  height: 80px;
  align-self: flex-end;
  overflow: auto;
  scrollbar-gutter: stable;
  padding: 5px;
}

.get-data .card button {
  margin: 0 1px 0 auto;
  display: block;
  color: #98d77d;
  text-decoration: underline;
  padding: 10px 0 0;
}


.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}